<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>FrontendFunn - Tailwind Components - Navigation Bar</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
      integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.0/tailwind.min.css"
      integrity="sha256-CAI/7ThhltsmP2L2zKBYa7FknB3ZwFbD0nqL8FCdxdc="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="header.component.css" />
  </head>

  <body>
    <nav class="flex items-center bg-white p-3 flex-wrap">
      <a href="#" class="p-2 mr-4 inline-flex items-center">
       
        <span class="text-xl text-white font-bold uppercase tracking-wide"
          >
          <div class="h-24 ml-auto">
          <img class="rounded-full shadow-sm h-full" alt="Volunteering Logo" src="../assets/images/logo-new.png"></div>
          </span
        >
      </a>
      <div class="flex flex-col">
      <h1 class="text-indigo-600 text-2xl">V-MEDIUM</h1>
      <h1 class="text-indigo-600 text-2xl">VOLUNTEER</h1>
      <h1 class="text-indigo-600 text-2xl">PLATFORM</h1>
     </div>
      <button
        class="text-white inline-flex p-3 hover:bg-gray-800 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
        data-target="#navigation"
      >
        <i class="material-icons">menu</i>
      </button>
      <div
        class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
        id="navigation"
      >
        <div
          class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
        >
          <a
            href="/organizations"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-indigo-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>Organizations</span>
          </a>
          <a
            href="../news"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-indigo-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>News</span>
          </a>
          <a
            href="/events"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-indigo-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>Events</span>
          </a>
          <a *ngIf="getRole() === 3"
          href="/company-crud"
          class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-indigo-600 items-center justify-center hover:bg-gray-800 hover:text-white"
        >
          <span>Manage Events</span>
        </a>
          <div *ngIf="!isLoggedIn">
          <!-- <a
            href="../signup/"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-cyan-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>Register</span>
          </a> -->
          <!-- <a
            href="../login/"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-cyan-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>Login</span>
          </a> -->
          </div>
          <a
            href="#"
            class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-indigo-600 items-center justify-center hover:bg-gray-800 hover:text-white"
          >
            <span>Contact Us</span>
          </a>
          <div class="items-center justify-center lg:inline-flex lg:flex-row">
            <div class="p-10">
              <div *ngIf="isLoggedIn" class="dropdown inline-block relative">
                <button
                  class="bg-white text-indigo-600 font-semibold py-2 px-4 rounded inline-flex items-center hover:bg-gray-800 hover:text-white">
                  <span class="mr-1">{{username}}</span>
                  <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                  </svg>
                </button>
                <ul class="dropdown-menu absolute hidden text-gray-700 pt-1">
                  <li class=""><button class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                      (click)="getProfile()">Profile</button></li>
                  <li class=""><button class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap "
                      (click)="logout()">Logout</button></li>
                </ul>
              </div>
            </div>        
</div>
        </div>
      </div>
    </nav>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script>$(document).ready(function () {
        $(".nav-toggler").each(function (_, navToggler) {
          var target = $(navToggler).data("target");
          $(navToggler).on("click", function () {
            $(target).animate({
              height: "toggle",
            });
          });
        });
      });</script>
  </body>
</html>
