<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section class="bg-gray-100">
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="lg:py-12 lg:col-span-2">
          <p class="max-w-xl text-lg">
         
          </p>
<!--   
          <div class="mt-8">
            <a href="" class="text-2xl font-bold text-pink-600"> 0151 475 4450 </a>
  
            <address class="mt-2 not-italic">282 Kevin Brook, Imogeneborough, CA 58517</address>
          </div> -->
        </div>
  
        <div class="p-8 bg-white rounded-lg shadow-lg lg:p-12 lg:col-span-3">
          <form [formGroup]="eventForm" (ngSubmit)="createEvent()" class="space-y-4">
            <div>
                <div class="text-center mb-6"><h1>Create New Event</h1></div>
              <label class="sr-only" for="name">Name</label>
              <input class="w-full p-3 text-sm border-gray-200 rounded-lg" placeholder="Event Name" type="text" id="name"
              [formControlName]="'eventName'" />
            </div>
            <label class="sr-only" for="image">Image Url</label>
            <input class="w-full p-3 text-sm border-gray-200 rounded-lg" placeholder="Image Url" type="text" id="image"
            [formControlName]="'image'" />

            <label class="block text-sm">
              Location
            </label>
            <input type="text"
              class="mt-2 w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
              placeholder="Location"
              formControlName="location"
               />

            <label class="block mt-4">
              <span class="text-gray-700">Region</span>
              <select (change)="selectChangeHandler($event)" id="region" class="form-select mt-1 block w-full">
                  <option value="0">-</option>
                <option value="1">Nur-Sultan</option>
                <option value="2">Almaty</option>
                <option value="3">Shymkent</option>
                <option value="4">Pavlodar</option>
                <option value="5">Almaty's region</option>
                <option value="6">Aktobe</option>
                <option value="7">Kostanay</option>
                <option value="8">Kyzylorda</option>
                <option value="9">Atyrau</option>
                <option value="10">West Kazakhstan</option>
                <option value="11">Akmola</option>
                <option value="12">Karaganda</option>
                <option value="13">North Kazakhstan</option>
                <option value="14">Mangystau</option>
                <option value="15">Turkestan</option>
                <option value="16">Zhambyl</option>
              </select>
            </label>
            <label class="block mt-4 mb-5">
              <span class="text-gray-700">Category</span>
              <select (change)="selectChangeHandlerCategory($event)" id="category" class="form-select mt-1 block w-full">
                  <option value="0">-</option>
                <option value="1">Medicine</option>
                <option value="2">Ecology</option>
                <option value="3">Social</option>
                <option value="4">Media</option>
                <option value="5">Event</option>
                <option value="6">Animal</option>
                <option value="7">Emergency</option>
                <option value="8">Culture</option>
                <option value="9">Donation</option>
                <option value="10">Pro_bono</option>
                <option value="11">Corporate</option>
                <option value="12">Online</option>
                <option value="13">Ethno</option>
                <option value="14">Sport</option>
              </select>
            </label>
  
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="email">Start Date</label>
                <input
                  class="w-full p-3 text-sm border-gray-200 rounded-lg"
                  placeholder="Start Date"
                  type="date"
                  id="startDate"
                  [formControlName]="'startDate'"
                />
              </div>
  
              <div>
                <label class="sr-only" for="endDate">EndDate</label>
                <input
                  class="w-full p-3 text-sm border-gray-200 rounded-lg"
                  placeholder="End Date"
                  type="date"
                  id="endDate"
                  [formControlName]="'endDate'"
                />
              </div>
            </div>
  
            <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
              <div>
                <input class="sr-only" id="option1" type="radio" tabindex="-1" />
                <label for="option1" class="block w-full p-3 border border-gray-200 rounded-lg" tabindex="0">
                  <span class="text-sm font-medium"> Option 1 </span>
                </label>
              </div>
  
              <div>
                <input class="sr-only" id="option2" type="radio" tabindex="-1" />
                <label for="option2" class="block w-full p-3 border border-gray-200 rounded-lg" tabindex="0">
                  <span class="text-sm font-medium"> Option 2 </span>
                </label>
              </div>
  
              <div>
                <input class="sr-only" id="option3" type="radio" tabindex="-1" />
                <label for="option3" class="block w-full p-3 border border-gray-200 rounded-lg" tabindex="0">
                  <span class="text-sm font-medium"> Option 3 </span>
                </label>
              </div>
            </div>
  
            <div>
              <label class="sr-only" for="message">Message</label>
              <textarea
                class="w-full p-3 text-sm border-gray-200 rounded-lg"
                placeholder="Description"
                rows="8"
                id="message"
                [formControlName]="'description'"
              ></textarea>
            </div>
  
            <div class="mt-4">
              <button
                type="submit"
                class="inline-flex items-center justify-center w-full px-5 py-3 text-white bg-black rounded-lg sm:w-auto"
              >
                <span class="font-medium">Create event</span>
  
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 ml-3"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>