<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{result.image}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <!-- <h1 class="text-sm title-font text-gray-500 ">EVENT NAME</h1> -->
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{result.eventName}}</h1>
          <div class="flex mb-4">
            <span class="flex items-center">
              <!-- <span class="text-gray-600 ml-3">4 Reviews</span> -->
            </span>
          </div>
          <p class="leading-relaxed">{{result.description}}</p>
          <div class="flex mt-6 items-center pb-5">
              <h2 class="text-gray-900">Deadline: {{result.deadline.split('T')[0]}}</h2>
            <!-- <div class="flex">
              <span class="mr-3">Color</span>
              <button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
              <button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
              <button class="border-2 border-gray-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none"></button>
            </div> -->
            <!-- <div class="flex ml-6 items-center">
              <span class="mr-3">Size</span>
              <div class="relative">
                <select class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
                  <option>SM</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                </select>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </div>
            </div> -->
          </div>
          <h2 class="text-gray-900">CreatedAt: {{result.createdAt.split('T')[0]}}</h2><br>
          <h2 class="text-gray-900">EndDate: {{result.endDate.split('T')[0]}}</h2>
          <br>
          <h2 class="text-gray-900">Organization Name: {{organization.organizationName}}</h2>
          <br>
          <div class="flex">
            <!-- <span class="title-font font-medium text-2xl text-gray-900">$58.00</span> -->
            <div *ngIf="isJoined() === 0 && getRole() === 2">
            <button (click)="joinToEvent()" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">JOIN EVENT</button>
        </div>
            <div *ngIf="isJoined() === 1 && getRole() === 2">
                <button (click)="leaveEvent()" class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">LEAVE EVENT</button>
            </div>
            <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>


<div *ngIf="getRole() === 3" >
  <h1 class="text-center font-bold text-4xl	">CURRENT MEMBERS OF THE EVENT</h1><br>
  <div class="overflow-x-auto w-full ">
    <table class="table w-full">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>FullName</th>
          <th>BirthDate</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Experience</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr *ngFor="let volunteer of volunteers">
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <td>
            <div class="flex items-center space-x-3">
              <div class="avatar">
                <div class="mask mask-squircle w-12 h-12">
                  <img src="{{volunteer.avatar}}" alt="Avatar Tailwind CSS Component" />
                </div>
              </div>
              <div>
                <div class="font-bold">{{volunteer.firstName}} {{volunteer.lastName}}</div>
                <!-- <div class="text-sm opacity-50"></div> -->
              </div>
            </div>
          </td>
          <td>
           {{volunteer.birthDate.split('T')[0]}}
            <br>
            <!-- <span class="badge badge-ghost badge-sm">Desktop Support Technician</span> -->
          </td>
          <td>{{volunteer.phone}}</td>
          <td>{{volunteer.email}}</td>
          <td>{{volunteer.experience}}</td>
          <th>
            <button class="btn btn-ghost btn-xs">details</button>
          </th>
        </tr>
      </tbody>
<br>
<br>
   
      
    </table>
  </div>
</div>