<!-- <div class="bg-white-300 pt-44 pb-24">
      <div class = "max-w-screen-xl w-full mx-auto px-6 sm:px-8 lg:px-16 grid grid-rows-6 sm:grid-rows-1 grid-flow-row sm:grid-flow-col grid-cols-3 sm:grid-cols-12 gap-4">
        <div class="row-span-2 sm:col-span-4 col-start-1 col-end-4 sm:col-end-5 flex flex-col items-start "> -->
          <!-- <LogoVPN class="h-8 w-auto mb-6" /> -->
        <!-- <img src = "../assets/images/volunteer.jpg" style="">
        </div>
      </div>
    </div> -->

    <div class ="bg-blue-300 container lg m-0">
      <div class="flex flex-wrap justify-end my-2.5 mx-2.5">
        <div class="w-9/12 sm:w-4/12 px-4">
          <img src="../assets/images/volunteer.jpg" alt="..." class="shadow-lg rounded-full max-w-full h-auto align-middle border-none" />
        </div>
      </div>
    </div>